Question 1- Write a Python program to replace all occurrences of a space, comma, or dot with a colon.
Sample Text- 'Python Exercises, PHP exercises.'
Expected Output: Python:Exercises::PHP:exercises:

In [25]:
import re
string = 'Python Exercises, PHP exercises.'

replace_dict= {",": ":", "." : ":"," ":":"}

for old, new in replace_dict.items():
    string = string.replace(old, new)
print(string)

Python:Exercises::PHP:exercises:


Question 2-  Create a dataframe using the dictionary below and remove everything (commas (,), !, XXXX, ;, etc.) from the columns except words.
Dictionary- {'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}

In [383]:
import pandas as pd
import re


data = {'SUMMARY': ['hello, world!', 'XXXXX test', '123four, five:; six...']}

df = pd.DataFrame(data)


def remove_unwanted_chars(text):
    # Use regular expression to remove commas, !, XXXX, ;, etc.
    cleaned_text = re.sub(r'[^\w\s]', '', text)
    return cleaned_text

df['SUMMARY'] = df['SUMMARY'].apply(remove_unwanted_chars)


print(df)

            SUMMARY
0       hello world
1        XXXXX test
2  123four five six

Question 3- Create a function in python to find all words that are at least 4 characters long in a string. The use of the re.compile() method is mandatory.

In [59]:
import re
aa = "I am Raju. I always come first in class "

string_pattern =r"\b\w{4,}\b"

regex_pattern = re.compile(string_pattern)
result = regex_pattern.findall(aa)
print(result)

['Raju', 'come', 'first', 'class']

Question 4- Create a function in python to find all three, four, and five character words in a string. The use of the re.compile() method is mandatory.

In [90]:
import re
aa = "I am Raju. I always come first in class. & who are you ?"

string_pattern =r"\b\w{3,5}\b"

regex_pattern = re.compile(string_pattern)
result = regex_pattern.findall(aa)
print(result)

['Raju', 'come', 'first', 'class', 'who', 'are', 'you']

Question 5- Create a function in Python to remove the parenthesis in a list of strings. The use of the re.compile() method is mandatory.
Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
Expected Output:
example.com
hr@fliprobo.com
github.com
Hello Data Science World

In [407]:
import re
def remove_parentheses(strings_list):
    pattern = re.compile(r'\([^)]*\)')
    result_list = [pattern.sub('', string) for string in strings_list]
    return result_list
strings_with_parentheses =["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
strings_without_parentheses = remove_parentheses(strings_with_parentheses)
print("\nList without Parentheses:")
for string in strings_without_parentheses:
    print(string)

List without Parentheses:
example
hr@fliprobo
github
Hello
Data

Question 6- Write a python program to remove the parenthesis area from the text stored in the text file using Regular Expression.
Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
Expected Output: ["example", "hr@fliprobo", "github", "Hello", "Data"]
Note- Store given sample text in the text file and then to remove the parenthesis area from the text.

In [376]:
import re
items =["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
for item in items:
    print(re.sub(r" ?\([^)]+\)", "", item))

example
hr@fliprobo
github
Hello
Data



Question 7- Write a regular expression in Python to split a string into uppercase letters.
Sample text: “ImportanceOfRegularExpressionsInPython”
Expected Output: [‘Importance’, ‘Of’, ‘Regular’, ‘Expression’, ‘In’, ‘Python’]

In [35]:
import re

def split_uppercase(input_string):
    pattern = re.compile(r'(?<=[a-z])(?=[A-Z])')
    result = pattern.split(input_string)
    return result
                         
input_string = "ImportanceOfRegularExpressionsInPython"
output = split_uppercase(input_string)
print(output)

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

Question 8- Create a function in python to insert spaces between words starting with numbers.
Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"
Expected Output: RegularExpression 1IsAn 2ImportantTopic 3InPython

In [60]:
import re

def insert_spaces(string):
    result = re.sub(r'(?<=[0-9])(?=[A-Za-z])', ' ', string)
    return result

text = "RegularExpression1IsAn2ImportantTopic3InPython"

output = insert_spaces(text)

print(output)

RegularExpression1 IsAn2 ImportantTopic3 InPython

Question 9- Create a function in python to insert spaces between words starting with capital letters or with numbers.
Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"
Expected Output:  RegularExpression 1 IsAn 2 ImportantTopic 3 InPython

In [74]:
import re

def insert_spaces(string):
    result = re.sub(r'(?<=[A-Z0-9])(?=[A-Z])|(?<=[a-z])(?=[0-9])', ' ', string)
    return result

text = "RegularExpression1IsAn2ImportantTopic3InPython"

output = insert_spaces(text)

print(output)

RegularExpression 1 IsAn 2 ImportantTopic 3 InPython

Question 10- Use the github link below to read the data and create a dataframe. After creating the dataframe extract the first 6 letters of each country and store in the dataframe under a new column called first_five_letters.
Github Link-  https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv

In [351]:
import pandas as pd
url = "https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv"
df = pd.read_csv(url)
df['first_five_letters'] = df['Country'].apply(lambda x: x[:6])

In [353]:
df['Country'] = "first_five_letters"

In [355]:
df.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,first_five_letters
0,first_five_letters,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,Switze
1,first_five_letters,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,Icelan
2,first_five_letters,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,Denmar
3,first_five_letters,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,Norway
4,first_five_letters,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,Canada

In [358]:
df[df['first_five_letters'].str.contains(r'[a-z1-9]{6}',case=False)==True]

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,first_five_letters
0,first_five_letters,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,Switze
1,first_five_letters,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,Icelan
2,first_five_letters,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,Denmar
3,first_five_letters,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,Norway
4,first_five_letters,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,Canada
...,...,...,...,...,...,...,...,...,...,...,...,...,...
149,first_five_letters,Sub-Saharan Africa,150,3.656,0.03590,0.17417,0.46475,0.24009,0.37725,0.12139,0.28657,1.99172,Guinea
151,first_five_letters,Sub-Saharan Africa,152,3.587,0.04324,0.25812,0.85188,0.27125,0.39493,0.12832,0.21747,1.46494,Burkin
152,first_five_letters,Southern Asia,153,3.575,0.03084,0.31982,0.30285,0.30335,0.23414,0.09719,0.36510,1.95210,Afghan
153,first_five_letters,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042,Rwanda
156,first_five_letters,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302,Burund

Question 11- Write a Python program to match a string that contains only upper and lowercase letters, numbers, and underscores.

In [102]:
import re
def text_matches(text):
    pattern = '^[a-zA-Z0-9_]*$'
    if re.search(pattern,text):
        return "Match"
    else:
        return "Not Match"
print(text_matches("Sachine was god of the Cricket"))
print(text_matches("Data_Science_10"))

Not Match
Match

Question 12- Write a Python program where a string will start with a specific number.

In [104]:
import re
def text_matches(text):
    pattern = '^[0-9]'
    if re.search(pattern,text):
        return "Match"
    else:
        return "Not Match"
print(text_matches("Pathon"))
print(text_matches("3Data_Science_10"))

Not Match
Match


Question 13- Write a Python program to remove leading zeros from an IP address

In [2]:
import re

ip = "251.03.026.134"

tt =re.sub('\.[0]*', '.', ip)
print(tt)

251.3.26.134

Question 14- Write a regular expression in python to match a date string in the form of Month name followed by day number and year stored in a text file.
Sample text :  ' On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country’.
Expected Output- August 15th 1947
Note- Store given sample text in the text file and then extract the date string asked format.

In [126]:
import re

text = "On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country."

pattern = (r'\b(?:January|February|March|April|May|June|July|August|September|October|November|December)\s+\d{1,2}(?:st|nd|rd|th)?\s+\d{4}\b')
matches = re.findall(pattern, text)
print(matches)

['August 15th 1947']

Question 15- Write a Python program to search some literals strings in a string. 
Sample text : 'The quick brown fox jumps over the lazy dog.'
Searched words : 'fox', 'dog', 'horse'

In [236]:
import re
patterns = [ 'fox', 'dog', 'horse' ]
text = 'The quick brown fox jumps over the lazy dog.'
for pattern in patterns:
    print('Searching for "%s" in "%s" ->' % (pattern, text),)
    if re.search(pattern,  text):
        print('Matched!')
    else:
        print('Not Matched!')

Searching for "fox" in "The quick brown fox jumps over the lazy dog." ->
Matched!
Searching for "dog" in "The quick brown fox jumps over the lazy dog." ->
Matched!
Searching for "horse" in "The quick brown fox jumps over the lazy dog." ->
Not Matched!


Question 16- Write a Python program to search a literals string in a string and also find the location within the original string where the pattern occurs
Sample text : 'The quick brown fox jumps over the lazy dog.'
Searched words : 'fox'

In [235]:
import re

msg = 'The quick brown fox jumps over the lazy dog.'

result = re.finditer(r"fox",msg)

for matches1 in result:
    print(matches1)
    print(matches1.group(),"\n")

<re.Match object; span=(16, 19), match='fox'>
fox

Question 17- Write a Python program to find the substrings within a string.
Sample text : 'Python exercises, PHP exercises, C# exercises'
Pattern : 'exercises'.

In [209]:
import re

msg = 'Python exercises, PHP exercises, C# exercises'
pattern = 'exercises'
for a in re.findall(pattern, msg):
    print('Found "%s"'%a)

Found "exercises"
Found "exercises"
Found "exercises"


Question 18- Write a Python program to find the occurrence and position of the substrings within a string.

In [221]:
import re

msg = 'Python exercises, PHP exercises, C# exercises'

result = re.finditer(r"exercises",msg)

for matches1 in result:
    print(matches1)
    print(matches1.group(),"\n")

<re.Match object; span=(7, 16), match='exercises'>
exercises

<re.Match object; span=(22, 31), match='exercises'>
exercises

<re.Match object; span=(36, 45), match='exercises'>
exercises


Question 19- Write a Python program to convert a date of yyyy-mm-dd format to dd-mm-yyyy format.

In [225]:
import re 
def date_change(dt):
    return re.sub(r'(\d{4})-(\d{1,2})-(\d{1,2})', '\\3-\\2-\\1', dt)
dtt = "2023-12-15"
print("Original date in YYY-MM-DD Format: ",dtt)
print("New date in DD-MM-YYYY Format: ",date_change(dtt))

Original date in YYY-MM-DD Format:  2023-12-15
New date in DD-MM-YYYY Format:  15-12-2023

Question 20- Create a function in python to find all decimal numbers with a precision of 1 or 2 in a string. The use of the re.compile() method is mandatory.
Sample Text: "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
Expected Output: ['01.12', '145.8', '3.01', '27.25', '0.25']

In [231]:
import re

def find_decimal_numbers(input_string):
    pattern = re.compile(r'\b\d+\.\d{1,2}\b|\b\d{1,2}\.\d{1,2}\b')
    decimal_numbers = pattern.findall(input_string)

    return decimal_numbers
input_text = "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
result = find_decimal_numbers(input_text)

print("Decimal numbers found:", result)

Decimal numbers found: ['01.12', '145.8', '3.01', '27.25', '0.25']

Question 21- Write a Python program to separate and print the numbers and their position of a given string.

In [232]:
import re

text = "Yesterday Suryakumar Yadav played well score 100 run"
for y in re.finditer("\d+", text):
    print(y.group(0))
    print("Index position:", y.start())

100
Index position: 45

Question 22- Write a regular expression in python program to extract maximum/largest numeric value from a string.
Sample Text:  'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
Expected Output: 950

In [234]:
import re

string='947, 896, 926, 524, 734, 950, 642'
number = re.findall('\d+', string)
number = map(int, number)
print("Max_value:",max(number))

Max_value: 950

Question 23- Create a function in python to insert spaces between words starting with capital letters.
Sample Text: “RegularExpressionIsAnImportantTopicInPython"
Expected Output: Regular Expression Is An Important Topic In Python

In [204]:
import re

text = "RegularExpressionIsAnImportantTopicInPython"
result = re.findall('[A-Z][a-z]*', text)
print(' '.join(result))

Regular Expression Is An Important Topic In Python

Question 24- Python regex to find sequences of one upper case letter followed by lower case letters

In [193]:
import re
def Msg_matches(msg):
    pattern = '[A-Z]+[a-z]+$'
    if re.search(pattern,msg):
        return "Match"
    else:
        return "Not Match"
print(Msg_matches("BBDDD"))
print(Msg_matches("Datascience"))
print(Msg_matches("PyTHon"))
print(Msg_matches("PYTHON"))

Not Match
Match
Match
Not Match


Question 25- Write a Python program to remove continuous duplicate words from Sentence using Regular Expression.
Sample Text: "Hello hello world world"
Expected Output: Hello hello world

In [196]:
import re

def remove_duplicates(sentence):
    pattern = r'\b(\w+)(\s+\1\b)+'
    result = re.sub(pattern, r'\1', sentence)
    return result
sentence = "Hello hello world world"
output = remove_duplicates(sentence)
print(output)

Hello hello world

Question 26-  Write a python program using RegEx to accept string ending with alphanumeric character.

In [147]:
import re
def text_matches(text):
    pattern = '[a-zA-z0-9]$'
    if re.search(pattern,text):
        return "Valid_String"
    else:
        return "Invalid_string"
print(text_matches("The quick brown fox jumps over the lazy dog"))

Valid_String

Question 27-Write a python program using RegEx to extract the hashtags.
Sample Text:  """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""
Expected Output: ['#Doltiwal', '#xyzabc', '#Demonetization']

In [338]:
import re

def extract_hashtags(text):
  hashtags = re.findall(r'#\w+', text)
  return hashtags
text = 'RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo'

hashtags = extract_hashtags(text)

print(hashtags)

['#Doltiwal', '#xyzabc', '#Demonetization']


Question 28- Write a python program using RegEx to remove <U+..> like symbols
Check the below sample text, there are strange symbols something of the sort <U+..> all over the place. You need to come up with a general Regex expression that will cover all such symbols.
Sample Text: "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"
Expected Output: @Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

In [336]:
import re

input_text = "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who are protesting #demonetization are all different party leaders"

pattern = r"<U\+\w{4}>"
output_text = re.sub(pattern, "", input_text)

print(output_text)

@Jags123456 Bharat band on 28??<ed><ed>Those who are protesting #demonetization are all different party leaders


Question 29- Write a python program to extract dates from the text stored in the text file.
Sample Text: Ron was born on 12-09-1992 and he was admitted to school 15-12-1999.
Note- Store this sample text in the file and then extract dates.

In [312]:
import re

file = open("minutes.txt",'r')
text = file.read()
matches = re.findall(r'\b\d{2}-\d{2}-\d{4}\b',text)
print(matches)

['12-09-1992', '15-12-1999']


Question 30- Create a function in python to remove all words from a string of length between 2 and 4.
The use of the re.compile() method is mandatory.
Sample Text: "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
Expected Output:  following example creates ArrayList a capacity elements. 4 elements added ArrayList ArrayList trimmed accordingly.

In [333]:
import re

def remove_words_by_length(input_string):
    pattern = re.compile(r'\W*\b\w{2,4}\b')
    modified_string = pattern.sub('', input_string)
    return modified_string
input_text = "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
result = remove_words_by_length(input_text)
print(result)

 following example creates ArrayList a capacity elements. 4 elements added ArrayList ArrayList trimmed accordingly.